{{ template "header.html" . }}

<body>
  <div class="content" style="padding:5vh 5vw">
    <h1>指导语</h1>
    <p>
      接下来你将看到<b>10张图片</b>，请你选出<b>最好的一张</b>，每张图片有“放弃”、“保留”和“确定选择”三个选项。“放弃”后，该图片将不再出现；“保留”后，该图片会在下一轮继续出现。“确定选择”后，该图片就会成为你的最终选择，任务就会结束。
    </p>
    <p>
      选出你的最终答案有两种方式：
    </p>
    <p>
      1、不断观看自己上一轮保留的图片、淘汰要放弃的并再一次保留想要的，直到剩下唯一一张作为你的答案。
    </p>
    <p>
      2、在任意一轮看到你要选择为最终答案的图片时，直接按下“确定选择”选定这张图片。
    </p>
    <p>
      本实验为鼠标操作，请点击相应的按钮进行选择。
    </p>
    <p>
      准备好了，请点击“开始”进入实验任务。 
    </p>
    <p>
      <a href="/start" class="button is-primary">
        开始
      </a>
    </p>
  </div>
</body>