{{ template "header.html" . }}

<body>
  <div class="content" style="padding:5vh 5vw">
    <h3>图片{{.}}</h3>
    <img class="image" style="width:640px;height:480px;margin-bottom:10px" src="/static/images/{{.}}.jpg" />
    <div class="field is-grouped">
      <p class="control">
        <a href="/finish/{{.}}" class="button is-primary">确定选择</a>
      </p>
      <p class="control">
        <a href="/keep" class="button">保留</a>
      </p>
      <p class="control">
        <a href="/giveup" class="button is-danger">放弃</a>
      </p>
    </div>
  </div>
</body>

