{{ template "header.html" . }}

<body>
  <div class="content has-text-centered" style="padding:5vh 5vw">
    <img class="image" style="width:480px;height:480px;margin-bottom:10px" src="/static/images/{{.}}.jpg" />

    <div class="field is-grouped">
      <p class="control">
        <a class="button is-primary">选择</a>
      </p>
      <p class="control">
        <a class="button">保留</a>
      </p>
      <p class="control">
        <a class="button is-danger">删除</a>
      </p>
    </div>
  </div>
</body>

